@import './mixin'
@import "../node_modules/zooniverse/src/css/top-bar"
@import "../node_modules/zooniverse/src/css/dialog"

body
  color: #224
  background: #efefef
  font-family: sans-serif

#main 
  margin: 0 auto
  width: 1000px
  padding-top: 50px
  text-align: center

  h1
    text-align: left

#app
  width: 700px
  display: inline-block

  .image-viewer
    float: left 

    canvas
      padding: 10px
      display: block
      border: 1px solid #224
      margin-bottom: 10px
      background: #ddd

    input[type="range"]
      width: 300px
      float: right

  .answers
    list-style: none 
    float: right
    border-left: 1px solid #224

    li
      padding-bottom: 20px

      &.classification-error
        display: none
        position: absolute

      &:last-child
        padding-bottom: 0

      button
        border-radius: 5px
        border: 1px solid #ccc 
        width: 150px
        height: 50px

      button[name="classify"]
        vbg-gradient(#d77, #955)
        box-shadow: inset 0px 1px 0px 0px #d9b

        &:hover
          vbg-gradient(#e88, #c67)

        &:active
          vbg-gradient(#844, #d77)

        &.selected
          vbg-gradient(#844, #d77)
          box-shadow: 0 0 7px 4px #aaccFF 

      button[name="next"]
        vbg-gradient(#7d7, #595)
        box-shadow: inset 0px 1px 0px 0px #9db

        &:hover
          vbg-gradient(#6c7, #8e8)

        &:active
          vbg-gradient(#484, #7d7)
    
h2
	text-align: center
	font-size: 22px

p
	text-align: center
	font-size: 16px
