@import './mixin'
@import "../node_modules/zooniverse/src/css/top-bar"
@import "../node_modules/zooniverse/src/css/dialog"

body
  color: #224
  background: #efefef
  font-family: sans-serif

#main 
  margin: 0 auto
  width: 1000px
  padding-top: 50px
  text-align: center

  h1
    text-align: left

#app
  display: inline-block

  .image-viewer
    width: 630px
    float: left 

    a
      text-decoration: none
      font-size: 14px
      position: relative
      top: 3px

    canvas#viewer
      padding: 10px
      display: block
      border: 1px solid #224
      margin-bottom: 10px
      background: #ddd

    canvas#overlay
      position: absolute
      left: 181px
      top: 150px

    .info
      text-align: left
      width: 400px

    input[type="range"]
      width: 300px
      float: right

    .controls
      position: absolute
      height: 400px
      width: 400px
      z-index: 1

      .play.big
        position: absolute 
        top: 150px
        left: 150px

      .bottom-row
        position: absolute
        bottom: 0
        width: inherit

      .play.small, .pause
        float: left
        display: none

      .loop
        float: right

        .badge
          height: 12px
          width: 12px
          border: 1px solid red
          border-radius: 15px
          background: red
          color: white
          font-size: 10px
          position: absolute
          right: 5px
          top: 24px

    .timeline
      font-size: 12px
      list-style: none
      float: right
      text-align: left
      padding-left: 10px
      padding-right: 20px

      li
        padding-bottom: 5px

        label
          position: relative
          top: -3px

  .answers
    width: 250px
    float: right
    border-left: 1px solid #224
    text-align: left 

    h4
      text-align: center

    ul
      list-style: none 
      padding-left: 50px

      li
        padding-bottom: 20px

        &.classification-error
          display: none
          position: absolute

        &:last-child
          padding-bottom: 0

        button
          border-radius: 5px
          text-align: center
          border: 1px solid #ccc 
          width: 150px
          height: 50px

        button.classify:not([DISABLED])
          
          &.candidates
            vbg-gradient(#7d7, #595)
            box-shadow: inset 0px 1px 0px 0px #9db

          &:hover
            vbg-gradient(#6c7, #8e8)

          &:active
            vbg-gradient(#484, #7d7)
 
          &.selected
            vbg-gradient(#844, #d77)
            box-shadow: 0 0 7px 4px #aaccFF 

        button.next
          vbg-gradient(#d77, #955)
          box-shadow: inset 0px 1px 0px 0px #d9b

          &:hover
            vbg-gradient(#e88, #c67)

          &:active
            vbg-gradient(#844, #d77)

     
h2
	text-align: center
	font-size: 22px

p
	text-align: center
	font-size: 16px
