@import 'nib'

.pull-right
  text-align: right

.pull-left
  text-align: left 

html
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  height: 100%

  body 
    box-sizing: border-box
    min-height 100%
    padding: 0 0 300px
    position: relative
    margin: 0
    top: -5px

    a
      color: #42aae3
      text-decoration: none
      font-weight: 700

  #background
    width: 100%
    position: absolute
    top: 0
    left: 0
    height: 550px
    z-index: -1

    svg
      background: url(../img/background.jpg) no-repeat 
      background-size: cover
      position: absolute 

      path#background
        fill: rgba(0,0,0,0.7)

  path.white
    fill: #fff

  path.gray
    fill: #f1f1f1

  section
    display: none
    margin-bottom: 50px
    position: relative

    &.active
      display: block

    &#about > .row, &#science > .row, &#team > .row
      background: rgba(255, 255, 255, 0.7)

      p > img
        float: left

      .column
        padding: 10px 30px
        font-size: 12px

        h2
          margin-top: 0
          color: darken(#45aae3, 10%)
          font-size: 18px

  .row
    width: 400px
    margin: 5px auto
    box-sizing: border-box

   .column
      display: inline-block
      box-sizing: border-box

      &.full
        width: 100% 

      &.half
        width: 49%

        &:last-child
          float: right

  .btn
    border: 2px solid #ababab
    border-radius: 3px
    background: #fff
    font-size: 12px
    height: 50px
    box-sizing: border-box
    font-weight: 400
    padding-left: 20px
    padding-right: 20px
    cursor: pointer
    background-image: none
    vertical-align: middle
    text-align: center
    transition: all 0.2s ease-in-out

    &.circular
      border: 2px solid #fff
      border-radius: 50%
      background: #000
      color: #fff
      width: auto 
      height: auto 
      padding: 20px

      img
        vertical-align: middle

  a.btn
    text-decoration: none
    display: inline-block

    &:hover
      border-color: #45aae3

@media(max-width: 400px) 
  html, section#science
    .row 
      width: 90%

    section, section#science
        .column
          display: block

          &.half
            width: 100%

            &:last-child
              margin-top: 5px
              float: none

