section#classify
  .btn 
    &[DISABLED]
      opacity: 0.5
      cursor: default

    &.selected:not([DISABLED])
      border-color: #000
      background-color: #000
      color: #fff

    &:hover:not([DISABLED])
      border-color: #45aae3

  #question
    font-size: 18px
    text-align: center
    font-weight: 300
    margin-bottom: 15px
    margin-top: 15px

    small
      display: block
      font-size: 12px

  #finish
    background: #45aae3
    margin-top: 15px
    font-size: 18px
    color: #fff
    border-color: #45aae3
    font-weight: 700

  #canvas-container
    position: relative
    height: 400px
    width: inherit
    z-index: 1

    canvas
      background: #fff
      border: 1px solid #000
      position: absolute
      z-index: -1

    button
      position: absolute
      bottom: 10px
      border: none
      width: 45px
      height: 45px
      z-index: 2
      padding: 0

      &#play
        left: 10px

      &#pause
        display: none
        left: 10px

      &#loop
        right: 10px

        &.active
          background: #45aae3

      &:hover
        background: #222

  #controls
    position: relative
    z-index: 2

    .btn 
      margin-bottom: 10px
      height: 38px
      width: 38px
      padding: 0
      background-color: transparent

      &.active
        background-color: #45aae3

     a.btn
      height: auto
      width: auto
      padding: 8px

  #timeline
    position: relative

    input
      width: 100%
      margin: 0 auto

    p
      text-align: center
      font-size: 12px
      margin: 0

    p.pull-left
      float: left

    p.pull-right
      float: right

  .btn.active
    border-color: #45aae3
    background-color: #45aae3
