footer
  margin-top: 50px
  border-top: 2px solid #45aae3
  background: #252122
  color: #688890
  font-size: 16px
  height: 100%

  #footer-text
    padding-top: 50px
    padding-bottom: 50px
    background: url(/img/zoo_logo.png) no-repeat center center

  #zooniverse-home
    border-color: #4d4b4b
    text-decoration: none
    font-weight: 700
    background: inherit
    color: inherit
    text-align: center
    padding-top: 15px
    margin-bottom: 50px
