@import "nib"

.guide
  width: 100%
  background: rgba(255, 255, 255, 0.9)
  color: #000
  transition: transform 1.0s ease-in-out
  border-top: 1px solid #000
  border-bottom: 1px solid #000
  position: absolute 
  top: 50px
  left: -100%
  height: 100%
  z-index: 7
  overflow-y: auto

  &.active
    transform: translateX(100%)

  .compare
    display: none
    overflow-x: auto

    &.active
      width: 100%
      display: block

      table
        width: 2400px
        text-align: center

        tr > td:first-child
          text-align: left
    
  .example  
    font-size: 12px
    position: relative

    .column.half:last-child
      padding: 10px
      margin-top: 30px

    canvas
      border: 1px solid #000

    button
      &.play, &.pause 
        position: absolute
        width: 30px
        bottom: 8px
        height: 30px
        padding: 0
        left: 3px

        img
          height: 15px
          width: 15px
          position: relative
          top: -1px

      &.pause, &.loop
        display: none

      &.btn-compare
        height: 25px

        &.active
          border-color: #45aae3

    .exploded
      display: none

      p
        text-align: center

      &.active
        display: block

      .close-ex
        float: right
        font-size: 10px
        padding-bottom: 10px
        cursor: pointer

        img
          position: relative
          top: 3px

  .close
    float: right
    font-size: 10px
    cursor: pointer
    margin: 20px 10px
    
    img
      position: relative
      top: 3px  

  ul
    padding: 0
    list-style-type: none
    font-size: 14px
