header
  color: #fff

  .row
    position: relative
    z-index: 4

    h1
      font-weight: 300
      font-size: 32px

      a
        text-decoration: none
        color: #fff

        &:hover
          color: #45aaef

        &:visited
          color: #fff

    .menu
      cursor: pointer
      font-size: 12px
      float: none

      img
        margin-left: 10px
        margin-bottom: -2px

    #global-menu-close
      display: none
      float: none

      &.active
        display: inline-block

    #global-menu-open
      display: inline-block

      &.active
        display: none
