header
  color: #fff

  .row
    position: relative
    padding: 20px 0
    z-index: 4

    .pull-right
      width: 30%

    .pull-left
      width: 68%

    a
      text-decoration: none
      color: #fff

      img
        position: absolute
        top: 10px

    .menu
      cursor: pointer
      font-size: 12px
      float: none

      img
        margin-left: 10px
        margin-bottom: -2px

    #global-menu-close
      display: none
      float: none

      &.active
        display: inline-block

    #global-menu-open
      display: inline-block

      &.active
        display: none
