@import "nib"

#index
  .row
    text-align: center
    margin: 0 auto
    width: 100%
    padding: 30px

    &:first-child
      padding-top: 0
      height: 380px

      p, h2
        text-align: left

      p, h2 
        margin-bottom: 50px
        color: #fff

      a.btn
        border: 2px solid #45aae3
        background: none
        font-weight: 700
        font-size: 16px
        color: #fff
        display: inline-block
        padding-top: 10px

        &:hover
          background: #45aae3

    &.gray
      background: #f1f1f1
      margin-top: -6px

    p, h2, h3, a.btn 
      margin: 10px auto
      width: 400px
      color: #949494

    p
      font-size: 12px
      text-align: justify

    h3
      font-size: 14px

    img
      border: 1px solid black
      border-radius: 50%

    a
      text-decoration: none
      color: #43aae3

      &:visited
        color: #43aae3
