@import "nib"

#index
  .row
    text-align: center
    margin: 0 auto
    width: 100%
    padding: 50px 0

    &:last-child
      img
        border:none

    &:first-child
      padding: 0
      height: 450px
      margin-top: 0

      h2
        line-height: 44px
        font-size: 32px
        font-weight: 300

      p, h2
        text-align: left

      p, h2 
        margin-bottom: 30px
        color: #fff

      a.btn
        border: 2px solid #45aae3
        background: #45aae3
        font-weight: 700
        font-size: 16px
        color: #fff
        display: inline-block
        padding-top: 10px
        transition: background 0.2s ease-in-out

        &:hover
          background: rgba(255,255,255,.2)

    &.gray
      background: #f1f1f1
      margin-top: -6px

    p, h2, h3, a.btn 
      margin: 10px auto
      width: 400px
      color: #949494

    p
      font-size: 16px
      text-align: justify
      line-height: 28px

    h3
      font-size: 16px
      font-weight: 700

    img
      border: 1px solid black
      border-radius: 50%

    a
      text-decoration: none
      color: #43aae3

      &:visited
        color: #43aae3
