section#science
  margin-bottom: 80px

  &:before, &:after
    display: table
    content: " "

  &:after
    clear: both

  .row 
    width: 600px
    margin: 0 auto

    .column.half
      &:first-child
        padding-right: 10px

        img
          position: relative
          top: -30px

      &:last-child
        padding-left: 10px

    .header
      width: 100%
      position: relative
      height: 169px
      overflow: hidden

      img
        max-width: 100%

      h3
        position: absolute
        bottom: 1px
        padding-left: 5px
        margin: 0
        width: 100%
        color: #fff

@media(max-width: 700px) and (min-width: 400px)
  section#science
    .row
      width: 400px

      .column.half
        width: 100%

        &:first-child
          padding-right: 30px

          img
            top: -60px

        &:last-child
          padding-left: 30px
          float: none

@media(max-width: 400px)
  section#science
    .row
      width: 90%

      .column.half
        width: 100%

        &:first-child
          padding-right: 30px

          img
            top: -60px

        &:last-child
          padding-left: 30px
          float: none


