.zootorial-dialog
  border-radius: 3px
  border: 1px solid #fff
  box-shadow: 0 3px 20px rgba(0,0,0,0.6)

  button[name="close-dialog"] 
    border: none
    background: none
    height: 25
    width: 25
    opacity: 0.4
    position: absolute
    right: 2px

  .dialog-content
    padding: 20px
    font-size: 12px

    button
      background: #45aae3
      border: 2px solid #45aae3
      border-radius: 3px
      color: #fff

    .header
      font-weight: 700
      margin-bottom: 10px

    .details
      text-align: justify
      margin-bottom: 10px

  .dialog-arrow
    width:0
    height:0
    position: absolute

  &.arrow-up > .dialog-arrow
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    left: 50%
    margin-left: -15px
    top: -15px

  &.arrow-left > .dialog-arrow
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    top: 50%
    margin-top: -15px
    left: -15px
