.zootorial-dialog
  border-radius: 3px

  button[name="close-dialog"] 
    border: none
    background: none
    height: 25
    width: 25
    position: absolute
    right: 0

  .dialog-content
    padding: 20px
    font-size: 12px

    button
      background: #45aae3
      border: 2px solid #45aae3
      border-radius: 3px
      color: #fff

    .header
      font-weight: 700
      margin-bottom: 10px

    .details
      text-align: justify
      margin-bottom: 10px